.blog_section{
    padding-left: 13rem;
    padding-right: 13rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog_header{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}

.blog_img{
    width: 100%;
}
.blog_item{
    position: relative;
}
.blog_title{
    position: absolute; 
    bottom: 1; 
    color: #000000; 
    width: 94.8%; 
    padding: 18px; 
    font: optional; 
    font-weight: 700;
    font-size: 17px;

    /* background-color: #0000001a; */
}

.blog_item_detail{
    margin-top: 20px;
}

.blog_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination_icon{
    width: 17px;
}



@media (max-width: 992px) {
    .blog_section{
        padding-left: 3rem;
        padding-right: 3rem;
       
    }

}
