.course_section{
    padding-left: 13rem;
    padding-right: 13rem;
    margin-top: 50px;
    margin-bottom: 50px;
}
.courses_left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.left_courses_text{
    padding: 0px 0px 0px 20px;
}

.right_courses_text{
    padding: 0px 20px 0px 0px;
}

.courses_title{
    font-size: 25px;
    font-weight: 500;
}

.courses_img{
    border-radius: 6px;
}

.courses_right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .course_section{
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .courses_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .courses_title{
        font-size: 25px;
        font-weight: 500;
        margin-top: 20px;
    }

    .courses_right{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}