.nav-custom {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    padding-left: 13rem;
    padding-right: 13rem;
    transition: all 0.3s ease-in-out;

}
.ksh_logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ksh_title{
    font-weight: bolder;
    font-size: 20px;
    color: #fd0c03;
    margin-left: 8px;
}

.ksh_logo {
    width: 50px;
    height: 50px;
}

.nav_menu li {
    padding-left: 25px;
    font-weight: 500;
}

.contact_btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fd0c03;
    border-radius: 30px;
}
.custom-toggler{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.custom-toggler:active,
.custom-toggler:hover{
    border: none;
    background-color: transparent;
}
.menu_icon {
    width: 30px;
    display: none;
    cursor: pointer;
}

.menu_icon:hover {
    transition: transform 0.8s ease-in-out;
    transform: rotate(90deg);
}

@media (max-width: 992px) {
    .nav-custom {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: hsl(0, 0%, 100%);
        color: #000000;
        transition: all 0.3s ease-in-out;
    }
    .menu_icon {
        width: 30px;
        display: block;
    }
}

@media (max-width: 576px) {
    .nav-custom {
        padding-left: 10px;
        padding-right: 10px;
        transition: all 0.3s ease-in-out;

    }
}